### **üìù Task 1: Reading a Financial Transaction File**
#### **üîπ Instructions**
1. **Create a text file (`transactions.txt`)** containing the following sample financial transactions:
   ```
   Deposit: PKR 10,000
   Withdrawal: PKR 5,000
   Balance: PKR 50,000
   ```
2. **Write a Python program** to read and display the file content.
3. **Ensure the file closes properly** to avoid memory leaks.

In [1]:
file = open("transactions.txt", 'r')
print(file.read())
file.close()

Deposit: PKR 10,000
Withdrawal: PKR 5,000
Balance: PKR 50,000

### **üìù Task 2: Writing New Transactions to a File**
#### **üîπ Instructions**
1. Modify the code to create a new file (`new_transactions.txt`).
2. Write the following financial transactions to the file:
   ```
   Deposit: PKR 15,000
   Withdrawal: PKR 3,000
   Balance: PKR 62,000
   ```
3. Ensure each transaction is written on a **new line**.

In [2]:
with open("new_transactions.txt", 'w') as file:
  file.write("Deposit: PKR 15,000\n")
  file.write("Withdrawal: PKR 3,000\n")
  file.write("Balance: PKR 62,000")

### **üìù Task 3: Appending New Transactions**
#### **üîπ Instructions**
1. Modify the previous program to **append** the following new transactions instead of overwriting the file:
   ```
   Deposit: PKR 5,000
   Withdrawal: PKR 1,500
   ```
2. Ensure the new transactions are added at the end of the file.
3. Verify by opening and reading the file after appending.

In [3]:
with open("new_transactions.txt", 'a') as file:
  file.write("\nDeposit: PKR 5,000\n")
  file.write("Withdrawal: PKR 1,500")

### **üìù Task 4: Reading a Large File Line by Line**
#### **üîπ Instructions**
1. Modify Task 1‚Äôs code to **read the file line by line** instead of loading it all at once.
2. Use a loop to print each line individually.

In [4]:
with open("transactions.txt", 'r') as file:
  for line in file:
    print(line.strip())

Deposit: PKR 10,000
Withdrawal: PKR 5,000
Balance: PKR 50,000

### **üìù Task 5: Using `with open()` for Safe File Handling**
#### **üîπ Instructions**
1. Modify Task 1‚Äôs code to use `with open()` for **automatic file closing**.
2. Ensure the file closes automatically after reading.

In [5]:
with open("transactions.txt", 'r') as file:
  for line in file:
    print(line.strip())

Deposit: PKR 10,000
Withdrawal: PKR 5,000
Balance: PKR 50,000

### **üìù Task 6: Creating a CSV File**
#### **üîπ Instructions**
1. Create a CSV file (`transactions.csv`) with the following financial transactions:
   ```csv
   Date,Transaction Type,Amount,Balance
   2024-02-01,Deposit,10000,60000
   2024-02-02,Withdrawal,2000,58000
   2024-02-03,Deposit,5000,63000
   ```
2. Save this CSV file correctly.

In [6]:
import csv

transactions = [["Date", "Transaction Type", "Amount","Balance"],
                 ["2024-02-01","Deposit","10000","60000"],
                 ["2024-02-02","Withdrawal","2000","58000"],
                 ["2024-02-03","Deposit","5000","63000"]]

with open("transactions.csv", 'w', newline="") as file:
  writer = csv.writer(file)
  writer.writerows(transactions)

### **üìù Task 7: Reading a CSV File**
#### **üîπ Instructions**
1. Open and read the `transactions.csv` file.
2. Print each row separately.

In [7]:
with open("transactions.csv", 'r') as file:
  reader = csv.reader(file)

  for row in reader:
    print(row)

['Date', 'Transaction Type', 'Amount', 'Balance']
['2024-02-01', 'Deposit', '10000', '60000']
['2024-02-02', 'Withdrawal', '2000', '58000']
['2024-02-03', 'Deposit', '5000', '63000']

### **üìù Task 8: Writing to a CSV File**
#### **üîπ Instructions**
1. Modify the code to write additional transactions to the CSV file.
```csv
2024-02-04, Deposit, 7000, 70000
2024-02-05, Withdrawal, 3000, 67000
```

In [8]:
new_transactions = [["2024-02-04", "Deposit", "7000", "70000"],
                    ["2024-02-05", "Withdrawal", "3000", "67000"]]

with open("transactions.csv", 'a') as file:
  writer = csv.writer(file)
  writer.writerows(new_transactions)


### **üìù Task 9: Reading a CSV with Pandas**
#### **üîπ Instructions**
1. Load `transactions.csv` into a Pandas DataFrame.
2. Display the first 5 rows.

In [9]:
import pandas as pd

In [10]:
df = pd.read_csv("transactions.csv")
print(df.head(5))

         Date Transaction Type  Amount  Balance
0  2024-02-01          Deposit   10000    60000
1  2024-02-02       Withdrawal    2000    58000
2  2024-02-03          Deposit    5000    63000
3  2024-02-04          Deposit    7000    70000
4  2024-02-05       Withdrawal    3000    67000


### **üìù Bonus Task: Basic Data Operations with Pandas**
#### **üîπ Instructions**
1. Count the number of deposits and withdrawals.
2. Display only transactions of type "Deposit".

In [11]:
transaction_counts = df['Transaction Type'].value_counts()
print("Number of transactions by type:")
print(transaction_counts)

deposit_transactions = df[df['Transaction Type'] == 'Deposit']
print("\nDeposit transactions:")
print(deposit_transactions)

Number of transactions by type:
Transaction Type
Deposit       3
Withdrawal    2
Name: count, dtype: int64

Deposit transactions:
         Date Transaction Type  Amount  Balance
0  2024-02-01          Deposit   10000    60000
2  2024-02-03          Deposit    5000    63000
3  2024-02-04          Deposit    7000    70000