In [1]:
import pandas as pd

# **Exercise 1: Creating and Understanding Pandas Objects**


## **Task Breakdown**
### **Step 1: Create a Pandas Series**
- The **Series** will store Tesla’s **closing stock prices** for five days.
- Each value in the Series will have a corresponding **day label** (`Day1`, `Day2`, etc.).

### **Step 2: Create a Pandas DataFrame**
- The **DataFrame** will contain Tesla stock data with the following columns:
  - **Company**: The name of the company (Tesla).
  - **Open**: Stock price at market open.
  - **High**: Highest stock price of the day.
  - **Low**: Lowest stock price of the day.
  - **Close**: Stock price at market close.

### **Step 3: Display the Data Types**
- Use the `type()` function to check whether:
  - `stock_prices` is a **Series**.
  - `df` is a **DataFrame**.

### **Step 4: Print the Objects**
- Print the **Series** and **DataFrame** to verify their structure.

In [2]:
prices = pd.Series([150, 200, 370, 500, 220], index = ["Day1", "Day2", "Day3", "Day4", "Day5"])
print(prices)

Day1    150
Day2    200
Day3    370
Day4    500
Day5    220
dtype: int64

In [3]:
data = {
    "Company" : ["TESLA", "TESLA", "TESLA", "TESLA", "TESLA"],
    "Open" : [250, 270, 220, 340, 180],
    "High" : [390, 370, 420, 360, 210],
    "Low" : [140, 210, 160, 290, 150],
    "Close" : [280, 250, 300, 300, 200]
}
df = pd.DataFrame(data)

print(df)

  Company  Open  High  Low  Close
0   TESLA   250   390  140    280
1   TESLA   270   370  210    250
2   TESLA   220   420  160    300
3   TESLA   340   360  290    300
4   TESLA   180   210  150    200

In [4]:
print(type(df))
print(type(prices))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

# **Exercise 2: Indexing and Selecting Data**
## **Objective**
This exercise will help you:
- Learn how to **select specific columns** from a DataFrame.
- Retrieve **specific values** using different indexing methods.
- Use **.iloc[] for positional indexing** to extract multiple rows.

---

## **Task Breakdown**
### **Step 1: Select the 'Close' Column**
- Extract the **'Close'** column from the DataFrame.
- This will return a **Pandas Series** containing Tesla’s closing prices.

### **Step 2: Retrieve the Closing Price on Day 3**
- Use **label-based indexing** to find the **closing price** of Tesla on `Day3`.

### **Step 3: Use `.iloc[]` to Get the First Three Rows**
- `.iloc[]` is used for **positional indexing**.
- Extract the **first three rows** from the dataset.

---

In [5]:
print(df['Close'])

0    280
1    250
2    300
3    300
4    200
Name: Close, dtype: int64

In [6]:
print(df.loc[3])

Company    TESLA
Open         340
High         360
Low          290
Close        300
Name: 3, dtype: object

In [7]:
print(df.iloc[:3])

  Company  Open  High  Low  Close
0   TESLA   250   390  140    280
1   TESLA   270   370  210    250
2   TESLA   220   420  160    300

## Exercise 3: Loading and Inspecting the Dataset
**Task:**
1. Load the dataset using Pandas.
2. Display basic dataset information.
3. Show summary statistics for numerical columns.

In [8]:
url="https://raw.githubusercontent.com/plotly/datasets/master/tesla-stock-price.csv"
df = pd.read_csv(url)
print(df.head(5))

         date   close         volume    open    high       low
0       11:34  270.49      4,787,699  264.50  273.88  262.2400
1  2018/10/15  259.59   6189026.0000  259.06  263.28  254.5367
2  2018/10/12  258.78   7189257.0000  261.00  261.99  252.0100
3  2018/10/11  252.23   8128184.0000  257.53  262.25  249.0300
4  2018/10/10  256.88  12781560.0000  264.61  265.51  247.7700

## Exercise 4: Filtering Tesla Stock Data
**Task:**
1. Find all records where Tesla's closing price was above $800.
2. Find all records where Tesla's trading volume was above 2 million shares.

In [9]:
rec1 = df[df["close"] > 800]
print(rec1)

Empty DataFrame
Columns: [date, close, volume, open, high, low]
Index: []

## Exercise 5: Sorting Tesla Stock Data
**Task:**
1. Sort Tesla stock data by date (oldest to newest).
2. Sort the dataset by closing price (highest to lowest).

In [10]:
dates = df.sort_values(by="date", ascending=True)
print(dates)

           date   close         volume    open      high       low
0         11:34  270.49      4,787,699  264.50  273.8800  262.2400
756  2015/10/15  221.31   2835920.0000  216.43  221.7300  213.7000
755  2015/10/16  227.01   4327574.0000  223.04  230.4805  222.8700
754  2015/10/19  228.10   2506836.0000  226.50  231.1500  224.9400
753  2015/10/20  213.03  14877020.0000  227.72  228.6000  202.0000
..          ...     ...            ...     ...       ...       ...
5    2018/10/09  262.80  12037780.0000  255.25  266.7700  253.3000
4    2018/10/10  256.88  12781560.0000  264.61  265.5100  247.7700
3    2018/10/11  252.23   8128184.0000  257.53  262.2500  249.0300
2    2018/10/12  258.78   7189257.0000  261.00  261.9900  252.0100
1    2018/10/15  259.59   6189026.0000  259.06  263.2800  254.5367

[757 rows x 6 columns]

In [11]:
dates = df.sort_values(by="close", ascending=False)
print(dates)

           date   close         volume     open    high      low
272  2017/09/18  385.00   7177773.0000  380.250  389.61  377.680
331  2017/06/23  383.45   6425180.0000  382.450  386.99  379.345
332  2017/06/22  382.61   7510406.0000  377.990  385.00  373.570
338  2017/06/14  380.66  12778480.0000  381.085  384.25  376.310
273  2017/09/15  379.81   5407227.0000  374.510  380.00  372.700
..          ...     ...            ...      ...     ...      ...
674  2016/02/12  151.04   7233264.0000  155.000  157.01  143.700
675  2016/02/11  150.47  14236900.0000  152.000  163.26  147.000
677  2016/02/09  148.25   8639661.0000  142.320  159.79  141.050
678  2016/02/08  147.99   9306754.0000  157.105  157.15  146.000
676  2016/02/10  143.67  10104690.0000  150.500  154.97  141.740

[757 rows x 6 columns]

## Exercise 6: Calculating Daily Price Changes
**Task:**
1. Add a new column `Daily Change = Close - Open`.
2. Calculate the percentage change: `(Daily Change / Open) * 100`.
3. Find the day with the highest daily percentage gain.

In [12]:
df['Daily Changes'] = df["close"] - df["open"]
print(df.head(5))

         date   close         volume    open    high       low  Daily Changes
0       11:34  270.49      4,787,699  264.50  273.88  262.2400           5.99
1  2018/10/15  259.59   6189026.0000  259.06  263.28  254.5367           0.53
2  2018/10/12  258.78   7189257.0000  261.00  261.99  252.0100          -2.22
3  2018/10/11  252.23   8128184.0000  257.53  262.25  249.0300          -5.30
4  2018/10/10  256.88  12781560.0000  264.61  265.51  247.7700          -7.73

## Exercise 7: Exporting Cleaned Data
**Task:**
Save the cleaned dataset as `tesla_cleaned.csv`.

In [13]:
df.to_csv("tesla_cleaned.csv", index=False)